  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    
    
    body {
      font-family: Roboto, montserrat sans-serif;
      font-size: 16px;
    }
    header {
      background-color: #0b9dfe;
      color: white;
      padding: 10px 20px;
      text-align: center;
    }
    h1 {
      font-size: 1rem;
      padding: 1rem;
      background-color: #000;
      color: #fff;
      text-align: center;
    }
    
    p {
      margin: 1rem;
      border: 1px solid rgb(0 0 0 /0.1);
      padding: 0.5rem;
   
    }
   

    
    section {
      padding: 20px;
    }
    footer {
      background-color: #0b9dfe;
      color: white;
      text-align: center;
      padding: 20px 20px;
      
      bottom: 0;
      width: 100%;
    }

    .project-top {
      padding-bottom: 10px;
      padding-top: 10px;
      font-weight: bold;
      font-size: 20px;
    }

    h2 {
      color: #0b9dfe;
      font-weight: bold;
      text-decoration: underline;
      padding-bottom: 1%;
      
    }

  .look {
    padding: 5px;
    margin-bottom: 5%;
    font-weight: bold;
      border: solid 1px #0b9dfe;
      background-color: #0b9dfe;
      color: white
  }

    .about{
      padding: 20px;
      font-weight: bold;
      border: solid 1px black;
      border-radius: 10px;
      background-color: #0b9dfe;
      color: white;
      text-align: center;
    }
  
    .service-image {
     color: #0b9dfe;;
      font-weight: bold;
      
      border-radius: 10px;
    }

    .logo-container {
      position: absolute;
      margin-right: 70%;
    }

    .logo {
      width: 60px;
      height: auto;
    }

    .social-media {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: space-between;
      
    }
    .social-media img {
      width: 50px;
      height: auto;
      padding: 20% 20%;
    }

    .project-gallery {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
  
      
    }
    .project-gallery img {
      max-width: 100%;
      height: auto;
      object-fit: cover; /* Ensures the image fits nicely within its container */
      display: block; /* Removes extra space below images */
    }
    
    #menu {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      text-decoration: none;
      padding: 0.5rem 0.75rem;
      background-color: #eee;
      color: #000;
    }
    
    #menu::before {
      content: "≡";
    }
    
    nav {
      background-color: #ace;
    }
    .navigation {
      list-style: none;
      margin: 0 auto;
      max-width: 760px;
    }
    
    .navigation li {
      display: none;
    }
    .navigation a {
      display: block;
      padding: 0.75rem;
      text-align: left;
      text-decoration: none;
      color: black;
      font-weight: 700;
      transition: 0.5s;
      font-size: clamp(1rem, 2vmin, 1.5rem);
    }
    
    .navigation a:hover,
    .navigation a:active {
      color: white;
      background-color: black;
    }
    
    .show li {
      display: block;
    }
    
    #menu.show::before {
      content: "X";
    }
    
    /* Media Query for wider than mobile viewports. Breakpoint should be based upon the design and content and use em units to be relative to the user's font size versus fixed with pixels.  
    
    In most WDD courses there is a requirement to use a separate file. This part would go into a separate CSS file. 
    */
    @media only screen and (min-width: 40em) {
      h1 {
        font-size: 2rem;
      }
      .navigation {
        display: flex;
      }
      .navigation li {
        display: block; /* change state in small view */
        flex: 1 1 100%;
      }
      .navigation a {
        text-align: center;
      }
      #menu {
        display: none;
      }
    }
    